Iot_based_Crop_Protection/crop_protection_node_red.json
[{"id":"686e12d.d4437ec","type":"tab","label":"Crop protection","disabled":false,"info":""},{"id":"7cbfa1fc.9276e","type":"http request","z":"686e12d.d4437ec","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://4da1d4e4-ad43-44c2-ab4f-510850d2529e-bluemix.cloudant.com/sample/_all_docs?include_docs=true&limit=1","tls":"","persist":true,"proxy":"","authType":"basic","x":370,"y":260,"wires":[["fe9912fa.18bd1"]]},{"id":"bc1285d1.5a3c68","type":"ui_button","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":27,"width":11,"height":1,"passthru":false,"label":"Click on button to Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":320,"wires":[["7cbfa1fc.9276e"]]},{"id":"3f807dff.1af2d2","type":"debug","z":"686e12d.d4437ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":300,"wires":[]},{"id":"fe9912fa.18bd1","type":"function","z":"686e12d.d4437ec","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":320,"wires":[["3f807dff.1af2d2","8418528a.7ea22","2b592454.20b2fc"]]},{"id":"8418528a.7ea22","type":"ui_template","z":"686e12d.d4437ec","group":"552d30d9.1235f","name":"","order":30,"width":11,"height":7,"format":"<img src={{msg.payload}} alt=\"Click on the button to get image..\" width=500 height=500>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":640,"y":340,"wires":[[]]},{"id":"56596ab9.a3a7b4","type":"debug","z":"686e12d.d4437ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":60,"wires":[]},{"id":"bc837c9d.84ce1","type":"debug","z":"686e12d.d4437ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":420,"wires":[]},{"id":"bdfbd34a.46ccd","type":"function","z":"686e12d.d4437ec","name":"","func":"var m=msg.payload.moisture\nglobal.set('m',m)\nmsg.payload=m\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":100,"wires":[["c37be330.8a47a"]]},{"id":"568fc8b0.984008","type":"ui_button","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":19,"width":6,"height":1,"passthru":false,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"","x":250,"y":380,"wires":[["a47ac7d1.004e48","bc837c9d.84ce1"]]},{"id":"d4a3c67f.daac98","type":"ui_button","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":20,"width":6,"height":1,"passthru":false,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"","x":250,"y":420,"wires":[["a47ac7d1.004e48","bc837c9d.84ce1"]]},{"id":"9a8ac431.b28cb8","type":"ui_button","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":23,"width":6,"height":1,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":250,"y":460,"wires":[["a47ac7d1.004e48","bc837c9d.84ce1"]]},{"id":"d2f4c139.e8d3c","type":"ui_button","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":24,"width":6,"height":1,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":240,"y":500,"wires":[["a47ac7d1.004e48","bc837c9d.84ce1"]]},{"id":"7290d676.6b5e08","type":"function","z":"686e12d.d4437ec","name":"","func":"global.set('h',msg.payload.humidity)\nmsg.payload=msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["bd11e8f8.5a7e28"]]},{"id":"bd11e8f8.5a7e28","type":"ui_gauge","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":2,"width":9,"height":6,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":140,"wires":[]},{"id":"5ebd32a0.edd8fc","type":"http in","z":"686e12d.d4437ec","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["7dc5c533.7d14dc"]]},{"id":"ba05e8b3.988068","type":"http response","z":"686e12d.d4437ec","name":"","statusCode":"","headers":{},"x":490,"y":600,"wires":[]},{"id":"7dc5c533.7d14dc","type":"function","z":"686e12d.d4437ec","name":"","func":"msg.payload={\n    'moisture':global.get('m'),\n    'humidity':global.get('h')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":600,"wires":[["ba05e8b3.988068"]]},{"id":"48b3c71f.9e5ef8","type":"http in","z":"686e12d.d4437ec","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":560,"wires":[["b83de51a.dfbd48"]]},{"id":"b83de51a.dfbd48","type":"http response","z":"686e12d.d4437ec","name":"","statusCode":"","headers":{},"x":490,"y":560,"wires":[]},{"id":"aa164b18.115588","type":"function","z":"686e12d.d4437ec","name":"","func":"msg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":180,"wires":[["d9869726.d0b038"]]},{"id":"758c332.5a5decc","type":"http request","z":"686e12d.d4437ec","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gNYhnkTEm37FPDp26SvbjrQ5ysUw9Cl0ecaABXduZH1Gx8ztqIhIXaYnVLO7ps1P8KvtiN9BCDHR5ruJ&route=q&message={{{payload}}}&language=english&flash=0&numbers=","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":180,"wires":[["ce87b171.c1b54"]]},{"id":"7a78c8c1.cddff8","type":"ui_text","z":"686e12d.d4437ec","group":"552d30d9.1235f","order":16,"width":12,"height":1,"name":"","label":"Moisture Status in Soil","format":"{{msg.payload}}","layout":"col-center","x":700,"y":80,"wires":[]},{"id":"c37be330.8a47a","type":"switch","z":"686e12d.d4437ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":100,"wires":[["caac7f36.6054a"],["3492a2ed.41321e"]]},{"id":"caac7f36.6054a","type":"function","z":"686e12d.d4437ec","name":"","func":"msg.payload=\"No water in soil\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":80,"wires":[["7a78c8c1.cddff8","dcd97af7.ccc838"]]},{"id":"3492a2ed.41321e","type":"function","z":"686e12d.d4437ec","name":"","func":"msg.payload=\"Water is available\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":120,"wires":[["7a78c8c1.cddff8"]]},{"id":"dcd97af7.ccc838","type":"rbe","z":"686e12d.d4437ec","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":670,"y":120,"wires":[["ce87b171.c1b54","758c332.5a5decc"]]},{"id":"ce87b171.c1b54","type":"debug","z":"686e12d.d4437ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"2b592454.20b2fc","type":"http response","z":"686e12d.d4437ec","name":"","statusCode":"","headers":{},"x":630,"y":260,"wires":[]},{"id":"a47ac7d1.004e48","type":"ibmiot out","z":"686e12d.d4437ec","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":460,"wires":[]},{"id":"1a71efe5.57ca4","type":"ibmiot in","z":"686e12d.d4437ec","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":140,"wires":[["56596ab9.a3a7b4","bdfbd34a.46ccd","7290d676.6b5e08","aa164b18.115588"]]},{"id":"d9869726.d0b038","type":"ui_gauge","z":"686e12d.d4437ec","name":"","group":"552d30d9.1235f","order":3,"width":9,"height":6,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":180,"wires":[]},{"id":"552d30d9.1235f","type":"ui_group","name":"Crop_Web","tab":"c8026b31.94e388","order":1,"disp":true,"width":22,"collapse":false},{"id":"3cf31d49.482212","type":"ibmiot","name":"newapi","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c8026b31.94e388","type":"ui_tab","name":"Crop_Protection","icon":"dashboard","order":11,"disabled":false,"hidden":false}]