medicine_reminder/medicine_reminder_node_red.json
[{"id":"184f964d.dd02ea","type":"tab","label":"Medicine Reminder","disabled":false,"info":""},{"id":"5e1702d1.2b94bc","type":"inject","z":"184f964d.dd02ea","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["279f2fe8.7bcc"]]},{"id":"6baf3a9b.6f7134","type":"debug","z":"184f964d.dd02ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"a2e5a32f.181da","type":"cloudant in","z":"184f964d.dd02ea","name":"","cloudant":"","database":"medicine","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"","x":340,"y":120,"wires":[["19b89f81.c8612"]]},{"id":"f7da2497.25cb88","type":"ui_form","z":"184f964d.dd02ea","name":"","label":"","group":"a37df89d.ac1338","order":1,"width":0,"height":0,"options":[{"label":"Enter the Medicine name","value":"name","type":"text","required":true,"rows":null},{"label":"Time (HH:MM) 24H-Format","value":"time","type":"text","required":true,"rows":null},{"label":"Date(YYYY-MM-DD)","value":"date","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":450,"y":400,"wires":[["376f59f8.97d056","75c79424.a8e68c"]]},{"id":"376f59f8.97d056","type":"function","z":"184f964d.dd02ea","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload = {\n    \"_id\":d+\" \"+t,\n    \"name\":msg.payload.name,\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":280,"wires":[["b67936ed.e1de78","d83c0d1a.bb29f","75c79424.a8e68c"]]},{"id":"b67936ed.e1de78","type":"cloudant out","z":"184f964d.dd02ea","name":"","cloudant":"","database":"medicine","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","payonly":true,"operation":"insert","x":540,"y":280,"wires":[]},{"id":"d83c0d1a.bb29f","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":320,"wires":[["6f7ff024.44099"]]},{"id":"6f7ff024.44099","type":"delay","z":"184f964d.dd02ea","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":400,"wires":[["f7da2497.25cb88"]]},{"id":"75c79424.a8e68c","type":"debug","z":"184f964d.dd02ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":400,"wires":[]},{"id":"279f2fe8.7bcc","type":"function","z":"184f964d.dd02ea","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=date+\" \"+time\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":180,"wires":[["a2e5a32f.181da"]]},{"id":"19b89f81.c8612","type":"switch","z":"184f964d.dd02ea","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[[],["4f8e0aed.043e54"]]},{"id":"4f8e0aed.043e54","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload={\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":120,"wires":[["6baf3a9b.6f7134","c45ae61e.ff83b8"]]},{"id":"605648a6.4581d8","type":"debug","z":"184f964d.dd02ea","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":720,"wires":[]},{"id":"2e61d499.8f237c","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload=msg.payload.d.b1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":680,"wires":[["605648a6.4581d8","58f5022c.568b7c"]]},{"id":"3f8f59b.42fe1a6","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload=msg.payload.d.b2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":760,"wires":[["605648a6.4581d8","dd2af884.950a78"]]},{"id":"39f1cc52.717524","type":"http request","z":"184f964d.dd02ea","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gNYhnkTEm37FPDp26SvbjrQ5ysUw9Cl0ecaABXduZH1Gx8ztqIhIXaYnVLO7ps1P8KvtiN9BCDHR5ruJ&route=q&message={{{payload}}}&language=english&flash=0&numbers=8688699264","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":720,"wires":[[]]},{"id":"58f5022c.568b7c","type":"switch","z":"184f964d.dd02ea","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":680,"wires":[["b1ee9f24.e62cf"]]},{"id":"dd2af884.950a78","type":"switch","z":"184f964d.dd02ea","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":760,"wires":[["92c8644e.b3d628"]]},{"id":"b1ee9f24.e62cf","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload=\"Emergency! Message from Person\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":680,"wires":[["39f1cc52.717524","605648a6.4581d8"]]},{"id":"92c8644e.b3d628","type":"function","z":"184f964d.dd02ea","name":"","func":"msg.payload=\"I have took the medicine\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":760,"wires":[["39f1cc52.717524","605648a6.4581d8"]]},{"id":"c45ae61e.ff83b8","type":"ibmiot out","z":"184f964d.dd02ea","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":180,"wires":[]},{"id":"5d46f591.7f67bc","type":"ibmiot in","z":"184f964d.dd02ea","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":720,"wires":[["2e61d499.8f237c","3f8f59b.42fe1a6"]]},{"id":"a37df89d.ac1338","type":"ui_group","name":"Medicine_UI","tab":"d02a10ce.311e7","order":1,"disp":true,"width":9,"collapse":false},{"id":"3cf31d49.482212","type":"ibmiot","name":"newapi","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d02a10ce.311e7","type":"ui_tab","name":"Medicine_Reminder","icon":"dashboard","order":12,"disabled":false,"hidden":false}]