Smart_Home_Assistant/home_assistant_node_red.json
[{"id":"330b0da1.28ddf2","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"42840893.953e08","type":"watson-speech-to-text","z":"330b0da1.28ddf2","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"0eHjXuovf8D3vPj-nv_3HVsi0t9uwSizzeageNRDsYz4","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/239ced59-e886-48b1-a4ee-d1bf74eeaec8","x":120,"y":120,"wires":[["f74f72f0.393a1","4504c602.cd7148"]]},{"id":"7a1c1017.ac3fd","type":"watson-text-to-speech","z":"330b0da1.28ddf2","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonV3Voice","voicehidden":"en-US_AllisonV3Voice","format":"audio/mp3","password":"","apikey":"xP-FJmnJUbVYZG3C_zFINVfxmPNkQ1jtQnPcbnDLvUBi","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/277349e4-c7cb-4f5e-bb0c-6f437492ba33","x":660,"y":340,"wires":[["fa111a3c.1af138"]]},{"id":"c340fff7.eeb54","type":"debug","z":"330b0da1.28ddf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"53c565d5.dfe7ec","type":"function","z":"330b0da1.28ddf2","name":"","func":"msg.payload=msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":180,"wires":[["a1288e63.b98f9","6d77222f.032c2c"]]},{"id":"a1288e63.b98f9","type":"switch","z":"330b0da1.28ddf2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"value","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"lightoff","vt":"str"},{"t":"eq","v":"fanon","vt":"str"},{"t":"eq","v":"fanoff","vt":"str"},{"t":"eq","v":"divya","vt":"str"},{"t":"eq","v":"sandeep","vt":"str"},{"t":"eq","v":"durga prasad","vt":"str"},{"t":"eq","v":"gnaneshwar","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":230,"y":340,"wires":[["2393f3a3.d92e9c"],["7a0befae.a5536"],["c5e2c8ff.6ebb08","52b54c1e.83a0b4"],["c5e2c8ff.6ebb08","52b54c1e.83a0b4"],["c5e2c8ff.6ebb08","52b54c1e.83a0b4"],["c5e2c8ff.6ebb08","52b54c1e.83a0b4"],["f7583831.cf9278"],["f7583831.cf9278"],["f7583831.cf9278"],["f7583831.cf9278"],["7a1c1017.ac3fd"]]},{"id":"2393f3a3.d92e9c","type":"function","z":"330b0da1.28ddf2","name":"","func":"var t=global.get('temp')\nif(t==undefined){\n    msg.payload=\"Couldnt get temperature from device\"\n}\nelse{\n    msg.payload=\"Todays temperature is \" + t + \" Degree Celsius\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":260,"wires":[["c340fff7.eeb54","7a1c1017.ac3fd","c7881a8a.9ec418"]]},{"id":"c7881a8a.9ec418","type":"ui_text","z":"330b0da1.28ddf2","group":"c68934fb.afa148","order":6,"width":9,"height":1,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":220,"wires":[]},{"id":"fa111a3c.1af138","type":"ui_audio","z":"330b0da1.28ddf2","name":"","group":"c68934fb.afa148","voice":"Google US English","always":"","x":700,"y":280,"wires":[]},{"id":"a86c4b2c.423e88","type":"function","z":"330b0da1.28ddf2","name":"","func":"global.set(\"temp\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":40,"wires":[["a9e1a5f7.8fda38"]]},{"id":"a9e1a5f7.8fda38","type":"debug","z":"330b0da1.28ddf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":40,"wires":[]},{"id":"a59e03.503ac2","type":"debug","z":"330b0da1.28ddf2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":440,"wires":[]},{"id":"ef1ea48c.c67908","type":"cloudant in","z":"330b0da1.28ddf2","name":"","cloudant":"","database":"sms","service":"node-red-ryxne-2021--cloudant-1611909784211-47104","search":"_id_","design":"","index":"name","x":290,"y":500,"wires":[["f64841dc.275ab"]]},{"id":"f7583831.cf9278","type":"function","z":"330b0da1.28ddf2","name":"","func":"msg.payload={\"_id\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":420,"wires":[["ef1ea48c.c67908"]]},{"id":"f64841dc.275ab","type":"function","z":"330b0da1.28ddf2","name":"","func":"msg.payload=msg.payload.number\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":500,"wires":[["ad0cc358.8c674","a59e03.503ac2"]]},{"id":"ad0cc358.8c674","type":"http request","z":"330b0da1.28ddf2","name":"","method":"GET","ret":"txt","paytoqs":"body","url":"https://www.fast2sms.com/dev/bulkV2?authorization=gNYhnkTEm37FPDp26SvbjrQ5ysUw9Cl0ecaABXduZH1Gx8ztqIhIXaYnVLO7ps1P8KvtiN9BCDHR5ruJ&route=q&message=Alert!%20Message%20from%20device&language=english&flash=0&numbers={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":500,"wires":[["9b3a478f.dc31a8"]]},{"id":"f18d1f55.a1d39","type":"inject","z":"330b0da1.28ddf2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"payload","payloadType":"msg","x":170,"y":540,"wires":[["e1750917.a35458"]]},{"id":"9b3a478f.dc31a8","type":"debug","z":"330b0da1.28ddf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":540,"wires":[]},{"id":"e1750917.a35458","type":"function","z":"330b0da1.28ddf2","name":"","func":"var r=global.get('val')\nvar t=global.get('topic')\nvar d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5; \nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10);\nvar time = n.slice(11,16);\nc=date+\" \"+time\nif(r==c){\n    msg.payload=\"you have a reminder now about\"+\" \"+t\n}\nelse{\n    msg.payload=\" \"\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":540,"wires":[["9b3a478f.dc31a8","7a1c1017.ac3fd","c7881a8a.9ec418"]]},{"id":"6d77222f.032c2c","type":"function","z":"330b0da1.28ddf2","name":"","func":"check=msg.payload.slice(0,4)\nif(check==\"time\"){\n    date=msg.payload.slice(5,15)\n    time=msg.payload.slice(16,21)\n    val=date+\" \"+time\n    global.set('val',val)\n    topic=msg.payload.slice(25,)\n    global.set('topic',topic)\n    msg.payload=\"reminder is set on \"+date+\" at \"+time+\" about \"+topic\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":160,"wires":[["c340fff7.eeb54","c7881a8a.9ec418"]]},{"id":"c0733499.224038","type":"ui_text_input","z":"330b0da1.28ddf2","name":"","label":"Enter the text to send commands","tooltip":"","group":"c68934fb.afa148","order":2,"width":9,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"","x":160,"y":80,"wires":[["f74f72f0.393a1"]]},{"id":"7a0befae.a5536","type":"function","z":"330b0da1.28ddf2","name":"","func":"var h=global.get('humidity')\nif(h==undefined){\n    msg.payload=\"Couldnt get humidity from device\"\n}\nelse{\n    msg.payload=\"Todays humidity is \" + h + \" Percentage\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["7a1c1017.ac3fd","c7881a8a.9ec418","c340fff7.eeb54"]]},{"id":"c5e2c8ff.6ebb08","type":"function","z":"330b0da1.28ddf2","name":"","func":"var va=msg.payload;\nif(va==\"lighton\"){\n    msg.payload=\"Light is Switched on\"\n}\nelse if(va==\"lightoff\"){\n    msg.payload=\"Light is Switched off\"\n}\nelse if(va==\"fanon\"){\n    msg.payload=\"Fan is Switched on\"\n}\nelse if(va==\"fanoff\"){\n    msg.payload=\"Fan is Switched off\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":380,"wires":[["7a1c1017.ac3fd","c7881a8a.9ec418"]]},{"id":"f74f72f0.393a1","type":"watson-assistant-v2","z":"330b0da1.28ddf2","name":"","service-endpoint":"","assistant_id":"a6d55341-2efd-4675-ad6a-ef3866f23853","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":390,"y":100,"wires":[["53c565d5.dfe7ec"]]},{"id":"475665f2.36e45c","type":"ibmiot out","z":"330b0da1.28ddf2","authentication":"apiKey","apiKey":"3cf31d49.482212","outputType":"cmd","deviceId":"12345","deviceType":"NodeMCU","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":640,"y":380,"wires":[]},{"id":"8538e20f.92e3b","type":"ibmiot in","z":"330b0da1.28ddf2","authentication":"apiKey","apiKey":"3cf31d49.482212","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":40,"wires":[["a86c4b2c.423e88","a9e1a5f7.8fda38"]]},{"id":"a6f9390.f87b5c8","type":"ui_microphone","z":"330b0da1.28ddf2","name":"","group":"c68934fb.afa148","order":9,"width":9,"height":1,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":70,"y":240,"wires":[["42840893.953e08"]]},{"id":"52b54c1e.83a0b4","type":"function","z":"330b0da1.28ddf2","name":"","func":"var m=msg.payload\nmsg.payload={\"command\":m}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":340,"wires":[["475665f2.36e45c","9b3a478f.dc31a8"]]},{"id":"4504c602.cd7148","type":"ui_text","z":"330b0da1.28ddf2","group":"c68934fb.afa148","order":6,"width":9,"height":1,"name":"","label":"Voice Input","format":"{{msg.payload}}","layout":"row-spread","x":190,"y":160,"wires":[]},{"id":"c68934fb.afa148","type":"ui_group","name":"Data","tab":"a96c9376.92a82","order":1,"disp":true,"width":15,"collapse":false},{"id":"3cf31d49.482212","type":"ibmiot","name":"newapi","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a96c9376.92a82","type":"ui_tab","name":"Home_Assistant","icon":"dashboard","order":7,"disabled":false,"hidden":false}]